<section data-ng-controller="StrategiesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Strategies</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="strategy in strategies" data-ng-href="#!/strategies/{{strategy._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Added on
				<span data-ng-bind="strategy.created | date:'medium'"></span>
				by
				<span data-ng-bind="strategy.user.displayName"></span>
			</small>
            <h4 class="list-group-item-text pull-right">
                <i class="fa fa-arrow-circle-o-up text-success"></i>
                Profit:0.00 BTC || Loss: 0.00 BTC 
                <i class="fa fa-arrow-circle-o-down text-danger"></i>
            </h4>
			<h4 class="list-group-item-heading" data-ng-bind="strategy.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!strategies.$resolved || strategies.length">
    	No Strategies yet, why don't you <a href="/#!/strategies/create">create one</a>?
    </div>
</section>