<section data-ng-controller="StrategiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="strategy.name"></h1>
	</div>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == strategy.user._id))">
		<a class="btn btn-primary" href="/#!/strategies/{{strategy._id}}/edit">
			<i class="glyphicon glyphicon-edit"> Edit</i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"> Delete</i>
		</a>
	</div>
    <div id="main-content">
        <div class="row">
            <div class="columns col-lg-4">
                <h4> Primary Exchange: </h4>
                <span data-ng-bind="getPrimaryExchangeName()"></span>
            </div>
            <div class="columns col-lg-4">
                <h4> Insurance Exchange: </h4>
                <span data-ng-bind="getInsuranceExchangeName()"></span>        
            </div>
        </div>
        <hr />
        <div class="row" id="profit-graph">
            <div id="profit-loss-chart"><span class="text-center">Show Profit / Loss Chart</span></div>
        </div>
        <hr />
        <div class="row"> 
            <div class="columns col-lg-6">
                <h3> Configuration </h3>
                <h4> Max BTC to Hedge: </h4>
                <span data-ng-bind="strategy.maxHedge"></span> BTC
            
                <h4> Max Price to Buy At: </h4>
                <span data-ng-bind="strategy.maxBuyPrice"></span> BTC
                
                <h4> Target Insurance Coverage Rate: </h4>
                <span data-ng-bind="strategy.targetCoverageRate"></span> %
                
                <h4> Auto Trade on Advice </h4>
                <span data-ng-bind="strategy.autoTradeAdvice"></span>
            </div>
            
            <div class="columns col-lg-6">
                <h3>Realized Profit / Loss </h3>
                    Display Data Here
                <h3>Unrealized Profit / Loss </h3>
                    Display Data Here
            </div>
        </div>
        <hr />
    </div>

	<small>
		<em class="text-muted">
			Implemented on
			<span data-ng-bind="strategy.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="strategy.user.displayName"></span>
		</em>
	</small>
</section>
