<section data-ng-controller="ExchangesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Exchanges</h1>
    </div>
    <div class="list-group" id="list-group">
        <a data-ng-repeat="exchange in exchanges" data-ng-href="#!/exchanges/{{exchange._id}}" class="list-group-item">           
            <section data-ng-controller="TickersController" data-ng-init="getLastPrice(exchange.name)">              
            	<small class="list-group-item-text">
                (24-Hour Volume: <span data-ng-bind="lastVolume"></span>,
                24-Hour Average Price: <span data-ng-bind="averagePrice"></span>)
                </small>

                <h4 class="pull-right">
                    <!-- <small class="text-info" style="margin-right: 100px">
                        (Volume: <span data-ng-bind="lastVolume"> Vol </span>)
                    </small> -->
                    
                    Current Price: <span data-ng-bind="lastPrice"> Err </span>
                    <i ng-class="directionClass"></i>
                </h4>
                
            </section>
            
			<h4 class="list-group-item-heading" data-ng-bind="exchange.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!exchanges.$resolved || exchanges.length">
    	No Exchanges yet, why don't you <a href="/#!/exchanges/create">create one</a>?
    </div>
</section>